@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root{
    --meetube_color: #a42da8;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
  
.body-light{
    background-color: var(--meetube_color);
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.title{
  background-color: #fff;
  border-radius: 10px;
  border: solid;
  border-color: var(--meetube_color);
  position: static;
  overflow: hidden;
  width: 180px;
  max-width: 100%;
  min-height: 50px;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
}

#moving-text {
  transform: translate(-50%, -50%);
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
  font-size: 28px;
}

.title h1{
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  color: var(--meetube_color);
  text-align: center;
}

@keyframes move{
  0%, 49.99%{
      opacity: 0;
      z-index: 1;
  }
  50%, 100%{
      opacity: 1;
      z-index: 5;
  }
}

.sign-in{
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 760px;
  max-width: 100%;
  min-height: 400px;
}

.sign-in input{
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 80%;
  outline: none;
  margin-top: 10px;
}

.Erreur{
  background-color: #fff;
  border-radius: 10px;
  border: solid;
  border-color: var(--meetube_color);
  position: static;
  overflow: hidden;
  width: 360px;
  max-width: 100%;
  min-height: 50px;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */;
  color: var(--meetube_color);
}

.login-bloc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.btn input{
  background-color: var(--meetube_color);
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  border-color: #fff;
}

#motdepasse {
    background-color: #fff;
    border-radius: 10px;
    border: solid;
    border-color: var(--meetube_color);
    padding: 10px; /* Add padding to create space between border and content */
  }
