:root{
  --meetube_color: #a42da8;
}

.body-light{
  background-color: var(--meetube_color);
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }
  
  input {
    font-size: 1rem;
  }
  
  .user-cards {
    display: flex; 
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: .25rem;
    margin-top: 1rem;
    break-inside: avoid;
  }
  
  .card {
    border: 2px solid var(--meetube_color);
    padding: .5rem;
    border-radius: 5%;
    background-color:rgba(235, 236, 236, 0.966);  
  }
  
  .card > .header {
    margin-bottom: .25rem;
  }
  
  .card > .body {
    font-size: .8rem;
    color: #777;
  }
  
  .hide {
    display: none;
  }